<!-- https://html-online.com/articles/simple-popup-box/ -->


{% block head %}
    {% block stylesheets %}
        {% do assets.addCss('./css/popup.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('./js/popup.js', 100) %}
    {% endblock %}
    {{ assets.js() }}
{% endblock head%}
<div class="popupBackground" id="popup" style="display: none;">
  <span class="popupHelper"></span>
  <div>
      <div class="popupCloseButton" id="popup-close-button">&amp;times;</div>
      <p>Add any HTML content<br />inside the popup box!</p>
  </div>
</div>