<!-- https://html-online.com/articles/simple-popup-box/ -->

<div class="popupBackground" id="popup" style="display: none;">
  <span class="popupHelper"></span>
  <div>
      <div class="popupCloseButton" id="popup-close-button">&times;</div>
      <p>Add any HTML content<br />inside the popup box!</p>
  </div>
</div>